
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@900&display=swap');


root {
    --bgcolor: #3e3e42;
    --highlightcolor: #007acc;
}


body {
    font-family: 'Arial Narrow Bold', sans-serif;
}

.title {
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    color: #FFF;
    text-align: center;
    -webkit-text-stroke: #111;
    -webkit-text-stroke-width: 1px;
    margin: -15px;
}

.description {
    color: #FFF;
    text-align: center;
    -webkit-text-stroke: #111;
}

.center {
    border: 5px solid;
    border-radius: 10px;
    border-color: #007acc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.game-icon {
    text-align: center;
    width: 150px;
    border: 1px solid;
    border-radius: 10px;
    border-color: #fff;
    background-color: #252526;
    float: left;
    margin: 10px;
}

.game-icon img {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.game-icon a {
    display: inline-block;
    padding-bottom: 10px;
    color: #fff;
    text-decoration: none;
}

.games-container {
    padding: 20px;
}

ul {
    list-style-type: none;
    margin: 20px;
    padding: 0;
    overflow: hidden;
    width: 278px;
    background-color: #333;
    border-radius: 10px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  .active {
    background-color: #04AA6D;
  }